@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;700&family=Roboto:wght@400;500&display=swap');
@import "reset";

:root
{
    --color-text: #112D4E;
    --color-primary: rgb(63, 114, 175); 
    --color-hover-primary: rgb(54 97 149);     
}

body
{    
    box-sizing: border-box; 
    min-width: 288px;
    min-height: 100vh;      
    background: var(--color-primary);    
    color: var(--color-text);
    font: 16px/1.5 'Roboto', sans-serif;
    padding: 1rem;
}
input
{
    font-family: inherit;
}
button
{
    margin: 0;
}